EXPO_PUBLIC_API_URL=https://voyara-api.onrender.com/api/v1
EXPO_PUBLIC_AI_URL=https://voyara-ai.onrender.com
EXPO_PUBLIC_SUPABASE_URL=https://ekodgupuhlytnikqgufb.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_REVENUECAT_IOS_KEY=
